body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
 
      /* all product item  */
#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  padding: auto;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* color: rgb(3, 3, 61); */
  
}
  /* single product start   */
.single-product {
  border: 1px solid rgb(245, 232, 233);
  min-height: 500px;
  width: 320px;
  padding: 10px;
  transition: 0.6s;
  background-color: rgb(245,232,233);
  margin: 15px 10px;
}
.single-product:hover {
  box-shadow: 7px 7px 7px gray;
  border-radius: 10px;
  border: 1px solid cyan;
  height: 100%;
  
 
}
  /* single product end  */

      /* product image   */
.product-image {
  width: 150px;
  height: 150px;
}
    /* add to cart   */
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
  background-color: rgb(255, 255, 143);
}
.cart-main {
  padding-right: 30px;
}
/* media query  start   */
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

  /* media query  end  */
